<div class="form__content">
  <div class="esquerda">
    <div class="header__form">
      <label for="name">Nome: </label>
      <input id="name" type="text" placeholder="   Insira seu Nome" />
      <label for="email">Email: </label
      ><input type="email" name="email" id="email" placeholder="   Insira seu Email" />
    </div>
    <div class="body__form">
      <label for="mensagem">Mensagem</label>
      <input type="text" class="txt" />
      <input type="button" value="Enviar" class="btn-enviar" />
    </div>
  </div>

</div>
