.form__content
  display: flex
  flex-direction: row
  justify-content: center
  background-color: antiquewhite

.esquerda
  border: 1px solid #666666
  margin: 20px
  border-radius: 1rem

.header__form
  display: flex
  flex-direction: column
  margin: 20px

.body__form
  display: flex
  flex-direction: column
  margin: 20px

  .txt
    height: 228px
    width: 332px
  .btn-enviar
    width: 60px

