<app-menu-bar></app-menu-bar>
<div class="home__content">
  <div class="content">
    <div class="card__content">
      <app-card image="../../../assets/lua2.jpg"></app-card>
      <app-card image="../../../assets/casal.jpg"></app-card>
      <app-card
        image="../../../assets/luffy.jpg"
        price="R$ 120,00"
        status="INDISPONÍVEL"
      ></app-card>
      <app-card
        image="../../../assets/lagoa2.jpg"
        price="R$ 25,00"
        status="INDISPONÍVEL"
      ></app-card>
    </div>
    <div class="card__down">
      <app-card
        image="../../../assets/luffy.jpg"
        price="R$ 120,00"
        status="INDISPONÍVEL"
      ></app-card>
      <app-card
        image="../../../assets/pufEmel.jpg"
        price="R$ 25,00"
        status="INDISPONÍVEL"
      ></app-card>
      <app-card
        image="../../../assets/UsinhoPuf.jpeg"
        price="R$ 35,00"
        status="INDISPONÍVEL"
      ></app-card>
    </div>
  </div>
  <div class="about__content">
    <app-about></app-about>
  </div>
  <div class="footer">
    <app-footer></app-footer>
  </div>
</div>

<div class="btn-whatsapp">
  <a
    href="https://wa.me/+5531973532292?text=Olá, Queria fazer um orçamento..."
    target="_blank"
    ><img src="../../../assets/whatssapp.svg" alt=""
  /></a>
</div>
