.content__menu
  display: block
  position: absolute
  top: 0
  height: 0
  background-color: black
  width: 148px
  height: 630px
  z-index: 1


  .logo__menu
    display: flex
    flex-direction: row
    justify-content: center
    justify-items: center
    color: #FFFFFF

    margin: 20px

    img
      display: flex
      flex-direction: row
      margin: auto
      height: 45px
      border-radius: 50%

    span
      margin: auto

  .nav__content
    display: flex
    justify-content: center
    margin-top: 120px
    margin-bottom: 120px

    ul
      text-decoration: none
      list-style: none
      li
        font-size: 20px
        margin-bottom: 20px
        text-decoration: none
        list-style: none
        a
          color: #FFFFFF
          i
            margin: 10px


  .buttom__menu
    flex-direction: column
    display: block
    position: absolute
    margin: 20px
    bottom: 0

    button
      width: 120px
      height: 30px
      margin-bottom: 10px
      border-radius: 1rem

.Agendamento
  color: black
  background-color: #FFFFFF
  border: 1px solid #242424

.ver-mais
  color: #FFFFFF
  background-color: Black
  border: 1px solid #242424
