<div class="content__menu">
  <div class="logo__menu">
    <img src="../../../assets/logo.png" alt="logo" />
    <span>Sarah</span>
  </div>
  <div class="nav__content">
    <ul>
      <li>
        <a href="https://wa.me/+5531973532292?text=Olá, Queria fazer um orçamento..."><i class="fa-brands fa-whatsapp fa-1x"></i><span>Whatsapp</span></a>
      </li>
      <li>
        <a href="https://www.instagram.com/artby_beatriz/?utm_source=ig_web_button_share_sheet&igshid=OGQ5ZDc2ODk2ZA=="><i class="fa-brands fa-instagram fa-1x"></i><span>Instagram</span></a>
      </li>
      <li>
        <a href="#"><i class="fa-brands fa-tiktok fa-1x"></i><span>Tiktok</span></a>
      </li>
    </ul>
  </div>
  <div class="buttom__menu">
    <button class="Agendamento">AGENDAMENTO</button>
    <button class="ver-mais">VER MAIS</button>
  </div>
</div>
